:root {
    --green: #849E87;
    --bg: #E3E2DE;
    --yellow: ;
    --gray: linear-gradient(127.17deg, #EFB61E -3.83%, #F4A115 108.77%);
}

/* slide */


.menu-container {
    background-color: white;
    height: 100vh;
    width: 440px;
    position: absolute;
    display: none;
    right: 0;
    transform: translateX(1560px);
    transition: transform ease 0.5s;
    z-index: 999;
}

.menu-container.active {
    transform: translateX(0px);
}

.shadow {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    transition: 0.5s;
}

#close {
    cursor: pointer;
}

.shadow.active {
    display: block;
    background-color: rgba(0, 0, 0, 0.508);
    backdrop-filter: blur(2px);
    transition: 0.4s;
}

.bg-open {
    display: block;
}

.header__left {
    gap: 20px;

}

.header__left-location p {
    font-weight: 700;
    margin: 0;
}

.header__left-location {
    font-weight: 700;
    padding-left: 20px;
    border-left: 2px solid var(--green);
    height: 35px;



}

.header__left-number {
    font-weight: 500;
    padding-left: 20px;
    border-left: 2px solid var(--green);
    height: 35px;
}

.header__left-number a {
    font-weight: 700;
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-decoration: none;
    color: #EFB61E;
}

.header__left-number p {
    margin: 0;
    padding: 0;
}

.header__center img {
    width: 140px;
    height: inherit;
}

.header__right {
    gap: 20px;
}

/* HEADER */

.burger-icon {
    background-color: black;
    width: 45px;
    height: 45px;
    border-radius: 50%;

    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px 0px;
    cursor: pointer;
}

.burger-icon:hover .line3 {
    width: 10px;
}

.burger-icon:hover .line2 {
    width: 20px;
}

.line1,
.line2,
.line3 {
    background-color: white;
    width: 25px;
    height: 3px;

    transition: 0.3s;
}

#header {
    background-color: white;
    padding: 10px 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__left,
.header__center,
.header__right {
    display: flex;
    align-items: center;
}


/* HERO */
#hero {
    background-image: url(../assets/icons/image\ 66.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
}
.hero {
    padding-top: 60px;
    padding-bottom: 60px;
    height: 100%;
    display: grid;
    align-items: center;
    align-content: center;
}

.hero__top {}

.hero__top h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    /* or 62px */

    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.hero__top p {
    font-size: 18px;
    margin-bottom: 40px;
}

.hero__top-buttons {
    margin-bottom: 140px;
    display: flex;
    gap: 20px;
}

.hero__top-oneButton {
    padding: 20px 30px;
    border: 2px solid var(--green);
    background-color: var(--green);
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.hero__top-oneButton:hover {
    box-shadow: 0px 0px 20px var(--green);
}

.hero__top-twoButton {
    padding: 20px 30px;
    border: 2px solid var(--green);
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.hero__top-twoButton:hover {
    box-shadow: 0px 0px 20px var(--green);
    background-color: var(--green);
    color: white;
}

.hero__bottom {
    padding: 20px 50px;
    background-color: var(--green);
    box-shadow: 0px 0px 20px var(--green);
    border-radius: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hero__bottom-item {
    display: flex;
    justify-items: center;
    text-align: left;
    align-items: center;
    gap: 10px;
}

.hero__bottom-item svg {
    width: 50px;
    height: 50px;
}

.hero__bottom-item p {
    color: white;
    font-weight: 600;
}

/* CONSULT */

#consult {
    background-color: var(--green);
    color: white;
    padding: 40px 0;
}

.consult__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.consult__left {
    max-width: 400px;
}

.consult__right {
    max-width: 400px;
}

.consult__left h2 {
    padding-top: 0;
    margin-top: 0;
}

.consult__right form {
    display: grid;
    gap: 20px 0px;
}

.consult__right form>input {
    border-radius: 100px;
    border: none;
    padding: 10px;
}

.consult__right form>label {
    font-size: 12px;
}

.consult__right form>button {
    border-radius: 100px;
    border: none;
    padding: 10px;
    font-weight: 700;
}

.checkbox-input {
    display: flex;
}

.checkbox-input input {
    margin-right: 10px;
}

.about {
    display: flex;
    gap: 37px;
    margin-bottom: 132px;
}

.about__img {
    border-radius: 30px;
    max-width: 501px;
    height: 383px;
    object-fit: cover;
    transition: 0.3s all ease;
}

/* .about__img:hover {
    transform: scale(1.03);
} */

.about__right {
    display: flex;
    flex-direction: column;
}

.about__text {
    font-style: normal;
    font-weight: 400;
    width: 355px;
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 5px;
}

.about__list {
    padding: 0;
    list-style: square;
    list-style: none;
}

.about__list-style {
    text-decoration: none;
}

.about__link {
    padding: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #849E87;
    margin-top: 37px;
    transition: 0.3 all ease;
    width: 120px;
    text-decoration-line: underline;
}

.mySwiper .swiper-slide {
    font-size: 18px;
    width: 302px;
    height: 454px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 20px;
    transition: 0.3s all ease;
}

.mySwiper .swiper-slide:hover {
    transform: scale(1.03);
}

.swiper-top {
    display: block;
    max-width: 1104px;
    height: 467px;
    padding-bottom: 60px;
    margin-bottom: 84px;
    padding-top: 33.3px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    list-style: none;
    z-index: 1;
}

.swiper__top-container {
    position: relative;
}

.swiper__top-next {
    position: absolute;
    right: 30px;
    top: 42%;
    transform: translateY(-50%);
    width: 59px;
    height: 59px;
    border-radius: 50%;
    background: #EFB61E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    z-index: 999;
    cursor: pointer;
}

.swiper__top-next img {
    width: 16px;
    height: 14px;
    object-fit: cover;
    transform: rotate(180deg);
}


.swiper__top-prev {
    position: absolute;
    left: 30px;
    top: 42%;
    transform: translateY(-50%);
    width: 59px;
    height: 59px;
    border-radius: 50%;
    background: #EFB61E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    z-index: 999;
    cursor: pointer;
}

.swiper__top-prev img {
    width: 16px;
    height: 14px;
    object-fit: cover;
}

.swiper-pagination .swiper-pagination-bullet {
    --swiper-theme-color: #A6A6A4;
    width: 15px;
    height: 15px;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: linear-gradient(127.17deg, #EFB61E -3.83%, #F4A115 108.77%);
    width: 27px;
    height: 27px;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper__top-slide-img {
    width: 100%;
    height: 222px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    margin-bottom: 15px;
}

.swiper__top-slide-bottom {
    display: flex;
    flex-direction: column;
    padding-left: 22px;
}

.swiper__top-slide-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #090E18;
    margin: 0;
    margin-bottom: 8px;
}

.swiper__top-slide-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #090E18;
    margin: 0;
    margin-bottom: 5px;
}

.swiper__top-slide-price {
    margin-top: 11px;
    margin-bottom: 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: #1E2326;
}

.swiper__top-slide-num {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
    margin-left: 5px;
}

.swiper__top-slide-valut {
    color: #F0B500;
}

.swiper__top-slide-btn {
    border: none;
    outline: none;
    background: none;
    width: 172px;
    height: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    background: #849E87;
    border-radius: 20px;
}

.swiper__bottom-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

.swiper__bottom-next {
    position: absolute;
    right: 25.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 59px;
    height: 59px;
    border-radius: 50%;
    background: #EFB61E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    z-index: 999;
    cursor: pointer;
}

.swiper__bottom-next img {
    width: 16px;
    height: 14px;
    object-fit: cover;
    transform: rotate(180deg);
}

.swiper__bottom-prev {
    position: absolute;
    left: 31%;
    top: 50%;
    transform: translateY(-50%);
    width: 59px;
    height: 59px;
    border-radius: 50%;
    background: #EFB61E;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
}

.mySwiper2 {
    max-width: 1440px;
    width: 100%;
}

.mySwiper2 .swiper-slide-prev {
    visibility: hidden;
}

.mySwiper2 .swiper__bottom-prev img {
    width: 16px;
    height: 14px;
    object-fit: cover;
}

.mySwiper2 .swiper-slide-next  {
    width: 557px;
    height: 394px;
    object-fit: cover;
    z-index: 9999999;
    position: relative;
    transition: all 0.5s ease;
}

.mySwiper2 .swiper-slide-active img {
    width: 507px;
    height: 322px;
    opacity: 0.5;
    z-index: 1;
    transition: all 0.5s ease;
}

.mySwiper2 .swiper-slide-next ~ .swiper-slide img {
    width: 507px;
    height: 322px;
    opacity: 0.5;
    z-index: 1;
    transition: all 0.5s ease;
}

.mySwiper2 .swiper-slide-next ~ .swiper-slide ~ .swiper-slide {
    visibility: hidden;
}

.swiper__bottom-title {
    margin-top: 95px;
    margin-bottom: 53px;
}

.slider__top {
    background-color: #E8E8E8;
    padding-top: 60px;
    padding-bottom: 30px;
}

.swiper-top  {
    margin-bottom: 30px;
}
/* STEPS */
#steps {
    padding-top: 60px;
}

.steps__items {
    margin-top: 40px;
    columns: 2;
    gap: 20px;

}

.steps__item {
    padding: 10px;
}

.steps__item h5 {
    font-size: 23px;
    margin: 0;
}