:root {
    --green: #849E87;
    --bg: #E3E2DE;
    --yellow:#EFB61E  ;
    --gray: linear-gradient(127.17deg, #EFB61E -3.83%, #F4A115 108.77%);
}


html {
    overflow-x: hidden !important;
}

body {
    overflow-x: hidden !important;
}

/* slide */

#menu {
    display: flex;
}

.menu-container {
    background-color: white;
    height: 100vh;
    width: 440px;
    position: fixed;
    /* display: none; */
    right: 0;
    transform: translateX(1560px);
    transition: transform ease 0.5s;
    z-index: 999;
}

.menu__wrapper {
    display: grid;
    align-items: flex-start;
    justify-content: center;
    justify-items: center;
    /* align-content: center; */
    padding: 20px;
    width: 100%;
}
.menu__wrapper img {
    padding-top: 50px;
    max-width: 120px;
}

.menu-container.active {
    transform: translateX(0px);
}

.shadow {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    transition: 0.5s;
}

.link-effect {
    height: 10px;
    width: 20px;
    margin-left: -30px;
    transition: 0.5s;
    position: absolute;
    z-index: 2;
    background-color: transparent;
}

.navigation__list {
    padding: 0;
    list-style: none;
    display: grid;
    align-items: center;
    justify-items: center;    
}

.navigation__list-item {
    transition: 0.5s;
    margin-bottom: 20px;
    width: inherit;
    display: flex;
    align-items: center;
}

.navigation__list-link {
    z-index: 3;
}

.navigation__list-item:hover {
    transform: translateX(5px);
    
}

.navigation__list-item:hover .link-effect{
    transform: translateX(10px) ;
    padding: 0 20px;
    width: 100%;
    position: absolute;
    background-color: #849E87;
    opacity: 50%;
    
}

.navigation__list-item a {
    font-size: 24px;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}

.navigation__info {
    text-align: center;
}

#close {
    cursor: pointer;
    position: absolute;
    right: 20px;
}

.close-icon {
    background-color: var(--yellow);
    width: 46px;
    height: 45px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    transition: 0.5s;
}

.close-line1, .close-line2 {
    position: absolute;
    background-color: black;
    width: 23px;
    height: 3px;
    transition: 0.3s;
}
.close-line1{
    transform: rotate(45deg);
}
.close-line2{
    transform: rotate(-45deg);
}

#close:hover .close-line1 {
    transform: rotate(135deg);
}

#close:hover .close-line2 {
    transform: rotate(-135deg);
}

#close:hover .close-icon {
    box-shadow: 0px 0px 10px #F0B500;
}

.shadow.active {
    display: block;
    background-color: rgba(0, 0, 0, 0.508);
    backdrop-filter: blur(2px);
    transition: 0.4s;
}

.bg-open {
    display: block;
}

.header__left {
    gap: 20px;

}

.header__left-location p {
    font-weight: 700;
    margin: 0;
}

.header__left-location {
    font-weight: 700;
    padding-left: 20px;
    border-left: 2px solid var(--green);
    height: 35px;



}

.header__left-number {
    font-weight: 500;
    padding-left: 20px;
    border-left: 2px solid var(--green);
    height: 35px;
}

.header__left-number a {
    font-weight: 700;
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-decoration: none;
    color: #EFB61E;
}

.header__left-number p {
    margin: 0;
    padding: 0;
}

.header__center img {
    width: 140px;
    height: inherit;
}

.header__right {
    gap: 20px;
}

/* HEADER */

.burger-icon {
    background-color: black;
    width: 45px;
    height: 45px;
    border-radius: 50%;

    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px 0px;
    cursor: pointer;
}

.burger-icon:hover .line3 {
    width: 10px;
}

.burger-icon:hover .line2 {
    width: 20px;
}

.line1,
.line2,
.line3 {
    background-color: white;
    width: 25px;
    height: 3px;

    transition: 0.3s;
}

#header {
    background-color: white;
    padding: 10px 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__left,
.header__center,
.header__right {
    display: flex;
    align-items: center;
}


/* HERO */
#hero {
    background-image: url(../assets/icons/image\ 66.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
}
.hero {
    padding-top: 60px;
    padding-bottom: 60px;
    height: 100%;
    display: grid;
    align-items: center;
    align-content: center;
}

.hero__top {}

.hero__top h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    /* or 62px */

    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.hero__top p {
    font-size: 18px;
    margin-bottom: 40px;
}

.hero__top-buttons {
    margin-bottom: 140px;
    display: flex;
    gap: 20px;
}

.hero__top-oneButton {
    padding: 20px 30px;
    border: 2px solid var(--green);
    background-color: var(--green);
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.hero__top-oneButton:hover {
    box-shadow: 0px 0px 20px var(--green);
}

.hero__top-twoButton {
    padding: 20px 30px;
    border: 2px solid var(--green);
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.hero__top-twoButton:hover {
    box-shadow: 0px 0px 20px var(--green);
    background-color: var(--green);
    color: white;
}

.hero__bottom {
    padding: 20px 50px;
    background-color: var(--green);
    box-shadow: 0px 0px 20px var(--green);
    border-radius: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hero__bottom-item {
    display: flex;
    justify-items: center;
    text-align: left;
    align-items: center;
    gap: 10px;
}

.hero__bottom-item svg {
    width: 50px;
    height: 50px;
}

.hero__bottom-item p {
    color: white;
    font-weight: 600;
}

/* CONSULT */

#consult {
    background-color: var(--green);
    color: white;
    padding: 40px 0;
}

.consult__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.consult__left {
    max-width: 400px;
}

.consult__right {
    max-width: 400px;
}

.consult__left h2 {
    padding-top: 0;
    margin-top: 0;
}

.consult__right form {
    display: grid;
    gap: 20px 0px;
}

.consult__right form>input {
    border-radius: 100px;
    border: none;
    padding: 10px;
}

.consult__right form>label {
    font-size: 12px;
}

.consult__right form>button {
    border-radius: 100px;
    border: none;
    padding: 10px;
    font-weight: 700;
}

.checkbox-input {
    display: flex;
}

.checkbox-input input {
    margin-right: 10px;
}

.about {
    display: flex;
    gap: 37px;
    margin-bottom: 132px;
}

.about__img {
    border-radius: 30px;
    max-width: 501px;
    height: 383px;
    object-fit: cover;
    transition: 0.3s all ease;
}

/* .about__img:hover {
    transform: scale(1.03);
} */

.about__right {
    display: flex;
    flex-direction: column;
}

.about__text {
    font-style: normal;
    font-weight: 400;
    width: 355px;
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 5px;
}

.about__list {
    padding: 0;
    list-style: square;
    list-style: none;
}

.about__list-style {
    text-decoration: none;
}

.about__link {
    padding: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #849E87;
    margin-top: 37px;
    transition: 0.3 all ease;
    width: 120px;
    text-decoration-line: underline;
}

.mySwiper .swiper-slide {
    font-size: 18px;
    width: 302px;
    height: 454px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 20px;
    transition: 0.3s all ease;
}

.mySwiper .swiper-slide:hover {
    transform: scale(1.03);
}

.swiper-top {
    display: block;
    max-width: 1104px;
    height: 467px;
    padding-bottom: 60px;
    margin-bottom: 84px;
    padding-top: 33.3px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    list-style: none;
    z-index: 1;
}

.swiper__top-container {
    position: relative;
}

.swiper__top-next {
    position: absolute;
    right: 30px;
    top: 42%;
    transform: translateY(-50%);
    width: 59px;
    height: 59px;
    border-radius: 50%;
    background: #EFB61E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    z-index: 999;
    cursor: pointer;
}

.swiper__top-next img {
    width: 16px;
    height: 14px;
    object-fit: cover;
    transform: rotate(180deg);
}


.swiper__top-prev {
    position: absolute;
    left: 30px;
    top: 42%;
    transform: translateY(-50%);
    width: 59px;
    height: 59px;
    border-radius: 50%;
    background: #EFB61E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    z-index: 999;
    cursor: pointer;
}

.swiper__top-prev img {
    width: 16px;
    height: 14px;
    object-fit: cover;
}

.swiper-pagination .swiper-pagination-bullet {
    --swiper-theme-color: #A6A6A4;
    width: 15px;
    height: 15px;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: linear-gradient(127.17deg, #EFB61E -3.83%, #F4A115 108.77%);
    width: 27px;
    height: 27px;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper__top-slide-img {
    width: 100%;
    height: 222px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    margin-bottom: 15px;
}

.swiper__top-slide-bottom {
    display: flex;
    flex-direction: column;
    padding-left: 22px;
}

.swiper__top-slide-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #090E18;
    margin: 0;
    margin-bottom: 8px;
}

.swiper__top-slide-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #090E18;
    margin: 0;
    margin-bottom: 5px;
}

.swiper__top-slide-price {
    margin-top: 11px;
    margin-bottom: 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: #1E2326;
}

.swiper__top-slide-num {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
    margin-left: 5px;
}

.swiper__top-slide-valut {
    color: #F0B500;
}

.swiper__top-slide-btn {
    border: none;
    outline: none;
    background: none;
    width: 172px;
    height: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    background: #849E87;
    border-radius: 20px;
}

.swiper__bottom-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

.swiper__bottom-next {
    position: absolute;
    right: 25.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 59px;
    height: 59px;
    border-radius: 50%;
    background: #EFB61E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    z-index: 999;
    cursor: pointer;
}

.swiper__bottom-next img {
    width: 16px;
    height: 14px;
    object-fit: cover;
    transform: rotate(180deg);
}

.swiper__bottom-prev {
    position: absolute;
    left: 31%;
    top: 50%;
    transform: translateY(-50%);
    width: 59px;
    height: 59px;
    border-radius: 50%;
    background: #EFB61E;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
}

.mySwiper2 {
    max-width: 1440px;
    width: 100%;
}

.mySwiper2 .swiper-slide-prev {
    visibility: hidden;
}

.mySwiper2 .swiper__bottom-prev img {
    width: 16px;
    height: 14px;
    object-fit: cover;
}

.mySwiper2 .swiper-slide-next  {
    width: 557px;
    height: 394px;
    object-fit: cover;
    z-index: 9999999;
    position: relative;
    transition: all 0.5s ease;
}

.mySwiper2 .swiper-slide-active img {
    width: 507px;
    height: 322px;
    opacity: 0.5;
    z-index: 1;
    transition: all 0.5s ease;
}

.mySwiper2 .swiper-slide-next ~ .swiper-slide img {
    width: 507px;
    height: 322px;
    opacity: 0.5;
    z-index: 1;
    transition: all 0.5s ease;
}

.mySwiper2 .swiper-slide-next ~ .swiper-slide ~ .swiper-slide {
    visibility: hidden;
}

.swiper__bottom-title {
    margin-top: 95px;
    margin-bottom: 53px;
}

.slider__top {
    background-color: #E8E8E8;
    padding-top: 60px;
    padding-bottom: 30px;
}

.swiper-top  {
    margin-bottom: 30px;
}
/* STEPS */
#steps {
    padding-top: 60px;
}

.steps__items {
    margin-top: 40px;
    columns: 2;
    gap: 20px;

}

.steps__item {
    padding: 10px;
}

.steps__item h5 {
    font-size: 23px;
    margin: 0;
}

.calc {
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 900px;
}

.calc__wrapper {
    background-color: var(--green);
    padding: 20px;
    border-radius: 20px;
}

.calc__wrapper form{
    background-color: var(--green);
    padding: 20px;
    border-radius: 20px;

    display: flex;
    gap: 20px;
}

.calc__left-top {
    color: white;
    font-size: 24px;
  
}

.calc__left{
    width: 50%;

    display: grid;
}

.calc__right {
    color: white;
    font-size: 24px;
    width: 50%;
}

.form-btn {
    background-color: white;
    padding: 15px 20px;
    border-radius: 50px;
    width: 100%;
    border: none;
    font-weight: 700;
}

.calc__left-bottom {
    display: grid;
}

.form-input {
    margin-bottom: 20px;
    padding: 15px 20px;
    border: 2px solid white;
    border-radius: 50px;
    background-color: transparent;

}

.form-input::placeholder {
    color: white;
}

#footer {
    background-color: #4E564F;
    padding-top: 20px;
    padding-bottom: 20px;
}

.calc__selector {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 7px 10px;
    /* width: 100%; */
    border: 0; 
}

.calc__right-top p {
    margin-bottom: 10px;
    margin-top: 20px;
}
.calc__right-top select {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 7px 10px;
    width: 100%;
    border: 0;
}

.calc__right-bottom {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.calc__right-bottom {
    gap: 20px;
}

.calc__right-bottom input {
    width: 140px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 7px 10px;
    width: 120px;
    border: 0;
}

#rc-phone {
    position: fixed; 
    right: 30px; 
    bottom: 20px; 
    width: 50px; 
    height: 50px; 
    border-radius: 25px; 
    z-index: 1000; 
    margin: 0; 
    overflow: hidden; 
    transition: width cubic-bezier(0, 0, 0.15, 1.0) 0.5s;}  

#rc-phone  #rc-phone-icon {
    z-index: 100;
     position: absolute; 
     cursor: pointer; 
     color: #fff; top: 0; 
     width: 50px; 
     height: 50px; 
     line-height: 50px; 
     text-align: center; 
     font-size: 26px; 
     border-radius: 50%; 
     background: var(--yellow);; 
     transition: all 0.3s;}
#rc-phone  #rc-phone-icon:hover {background: var(--yellow);}

#rc-phone #rc-phone-icon:before {position:absolute; top:50%; left:50%; transform: translate(-50%,-50%) rotate(0deg); transition: all 0.5s;}
#rc-phone #rc-phone-icon:after {position:absolute; top:50%; left:50%; transform: translate(-50%,-50%) rotate(0deg); content: "\f00d"; opacity:0; transition: all 0.5s;}
#rc-phone form {transform:translate(-100%,0); display: flex; align-items: center; border-radius: 25px; justify-content: space-between; width: 400px; height: 50px; padding: 0 15px 0 65px; position: relative; box-sizing: border-box; z-index: 10; background: #363f43; transition: transform cubic-bezier(0, 0, 0.15, 1.0) 0.5s;}
#rc-phone form p {font-size: 12px; width: 80px; color: #fff; line-height: 120%;}
#rc-phone form input {border-radius: 12px; width: 180px; height: 28px; background: #fff; color: #b2b2b2; margin: 0; padding: 0 0 0 25px; border: 1px solid #363f43; box-sizing: border-box;}
#rc-phone form button {border: 0; color: #fff; width: 24px; height: 24px; padding: 0; line-height: 24px; text-align: center; font-size: 14px; box-sizing: border-box; background: var(--yellow);; cursor: pointer; border-radius: 50%;}
#rc-phone form button:hover {color: #fff; background: var(--yellow);;}

#rc-phone.open {width: 400px;}
#rc-phone.open form {transform:translate(0,0)}
#rc-phone.open #rc-phone-icon:after {opacity: 1; transform: translate(-50%,-50%) rotate(-360deg);}
#rc-phone.open #rc-phone-icon:before {opacity: 0; transform: translate(-50%,-50%) rotate(-360deg);}
