@media screen and (max-width: 900px) {
    .consult__left h2 {
        text-align: center;
    }

    .consult__left p {
        text-align: center;
    }

    .consult__left-img {
        display: flex;
        justify-content: center;
    }

    .consult__left-img img {
        max-width: 40px;
    }

    .menu-container {
        width: 100%;
    }

    .header__center {
        order: -1;
        width: 20%;
        display: flex;
        justify-content: center;
    }

    .header__center img {
        width: 90px;
    }

    .header__left {
        display: none;
    }

    .header__right {
        width: 75%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .header__right-button a {
        font-size: 14px;
        font-weight: 700;
        padding: 10px 10px;
    }

    .about__title svg {
        width: 40px;
    }

    .about__title {
        font-size: 24px;
    }

    .hero__bottom {
        display: grid;
        justify-content: center;

    }

    .hero__bottom-item {}

    .hero__bottom-item:nth-child(2) p {
        order: -1;
        text-align: right;
    }

    .hero__top-oneButton,
    .hero__top-twoButton {
        font-size: 14px;
        font-weight: 700;
        padding: 10px 10px;
    }

    .hero__top h1 {
        font-size: 40PX;
    }
}