@media screen and (max-width: 900px) {
    .consult__left h2 {
        text-align: center;
    }

    .consult__left p {
        text-align: center;
    }

    .consult__left-img {
        display: flex;
        justify-content: center;
    }

    .consult__left-img img {
        max-width: 40px;
    }

    .menu-container {
        width: 100%;
    }

    .header__center {
        order: -1;
        width: 20%;
        display: flex;
        justify-content: center;
    }

    .header__center img {
        width: 90px;
    }

    .header__left {
        display: none;
    }

    .header__right {
        width: 75%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .header__right-button a {
        font-size: 14px;
        font-weight: 700;
        padding: 10px 10px;
    }

    .about__title svg {
        width: 40px;
    }

    .about__title {
        font-size: 24px;
    }

    .about__img {
        width: 100%;
        max-width: 900px;
    }

    .about__title {
        margin-top: 10px;
    }

    .about__text {
        margin: 0;
    }

    .about {
        margin-bottom: 30px;
    }

    .hero__bottom {
        display: block;

        background-color: transparent;
        box-shadow: none;
        width: 100%;
        padding: 0;
    }

    .hero__bottom-item {
        display: flex;
        justify-content: flex-start;
        background-color: var(--green);
        /* padding: 10px; */
        width: 100%;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    #hero {
        background-size: 100%;
        background-position: top;
        background-position-y: -100px;
    }

    .hero__img {
        background-image: url(../assets/icons/image\ 66.png);
    
        width: 100%;
        height: 360px;
        background-size: cover;
        position: absolute;
        top: 0;
        z-index: -1;
        transform: translateY(0px);
    }

    .hero__top-buttons {
        margin-bottom: 50px;
    }

    .hero__top {
        margin-top: 260px;
    }

    .hero__bottom-item svg {
        margin-left: 10px;
    }

    .hero__top-oneButton,
    .hero__top-twoButton {
        font-size: 14px;
        font-weight: 700;
        padding: 10px 10px;
    }

    .hero__top h1 {
        font-size: 40PX;
    }

    .about {
        display: flex;
        flex-direction: column;
        margin-bottom: 82px;
        padding: 0;
    }


    .mySwiper2 .swiper-slide-next {
        width: 557px;
        height: 394px;
        object-fit: cover;
        z-index: 9999999;
        position: relative;
        transition: all 0.5s ease;
    }



    .mySwiper2 .swiper-slide-active img {
        width: 507px;
        height: 322px;
        opacity: 0.5;
        z-index: 1;
        transition: all 0.5s ease;
    }

    .mySwiper2 .swiper-slide-next~.swiper-slide img {
        width: 507px;
        height: 322px;
        opacity: 0.5;
        z-index: 1;
        transition: all 0.5s ease;
    }

    .mySwiper2 .swiper-slide-active img {
        opacity: 1;
        max-width: 507px;
        height: 322px;
        z-index: 1;
        transition: all 0.5s ease;
    }


    .mySwiper2 .swiper-slide-next~.swiper-slide img {
        opacity: 1;
        max-width: 507px;
        height: 322px;
        z-index: 1;
        transition: all 0.5s ease;
    }

    .swiper__bottom-next {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        width: 39px;
        height: 39px;
        border-radius: 50%;
        background: #EFB61E;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 999;
        user-select: none;
        cursor: pointer;
    }

    .swiper__bottom-prev {
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
        width: 39px;
        height: 39px;
        border-radius: 50%;
        background: #EFB61E;
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        user-select: none;
        cursor: pointer;
    }

    .swiper__bottom-next img {
        width: 11px;
        height: 9px;
        object-fit: contain;
        transform: rotate(180deg);
    }

    .mySwiper2 .swiper__bottom-prev img {
        width: 11px;
        height: 14px;
        object-fit: contain;
    }

    .swiper-top {
        padding-bottom: 0;
    }

    .swiper-slide {
        padding-bottom: 20px;
    }

    .steps__items {
        columns: 1;
    }

    .navigation__list {
        text-align: center;
    }

    .calc-pc {
        display: none;
    }

    #form {
        flex-wrap: wrap-reverse;
    }

    .calc__wrapper {
        padding: 0;
    }

    .calc-m {
        display: block !important;
        order: 1;
    }

    .calc__right-top p {
        font-size: 16px;
    }

    .calc__right-bottom p {
        font-size: 16px;
    }

    .calc__right-bottomPlus p {
        font-size: 16px;
    }

    .calc__right-bottomPlus label {
        font-size: 20px;
    }

    .calc-m h2 {
        font-size: 24px;
        margin-bottom: 0;
    }

    .calc-m svg {
        width: 40px;
    }

    .calc__left {
        width: 100%;
    }

    .calc__right {
        width: 100%;
    }

    .checkbox-input {
        color: white;
        font-size: 14px;
    }

    .calc {
        padding: 0;


    }

    .swiper__bottom-title {
        margin-top: 35px;
        margin-bottom: 23px;
    }

    .calc__wrapper {
        border-radius: 0;
    }

    .swiper__bottom-img {
        max-width: 484px;
        width: 100%;
        max-height: 380px;
        height: 100%;
    }

    .mySwiper2 .swiper-slide-active img {
        max-width: 514px;
        max-height: 380px;
        height: 100%;
        width: 100%;
    }

    .mySwiper2 .swiper-slide-next~.swiper-slide img {
        max-width: 514px;
        max-height: 380px;
        height: 100%;
        width: 100%;
    }

    .mySwiper2 .swiper-slide-next~.swiper-slide~.swiper-slide {
        visibility: visible;
        max-width: 514px;
        max-height: 380px;
        height: 100%;
        width: 100%;
    }

    .mySwiper2 {
        height: 322px;
        /* margin-bottom: 50px; */
    }

    /* cards */

    .cards {
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    /* card */
    .cards {
        justify-content: center;
    }

    .card {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    .card_svg {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .header__center img {
        width: 70px;
    }

    .header__right {
        width: 80%;
        display: flex;
        justify-content: space-between;
        gap: 5px;
    }

    .header__right-social a img {
        width: 24px;
        margin-left: 10px;
    }

    

}